*:not(h2) {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-display: swap;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-display: swap;
}
.section-log-in {
    background-image: url(./img_7/Фон\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw;                    тут ширина не потрібна?*/ 
    height: 100vh; 
    position: relative;
}
.header-log-in {
    display: flex;
    height: 58px;
    padding-left: 79px;
    padding-right: 79px;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    /* font-family: Ubuntu; */
    background-color: rgba(0, 0, 0, 0.40);
    position: relative;
}
.header-log-in:hover {
    opacity: 0.51;
    fill: #000;
}
.header-title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
    text-transform: uppercase;
    text-decoration: none;
}
.header-icon {
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 24px;
    position: absolute;
    right: 303px;
}
.icon-calendar {
    width: 21px;
    height: 24px;
}
.icon-envelope {
    width: 23px;
    height: 23px;
}
.icon-compass {
    width: 23px;
    height: 24px;
}
.header-authorization { 
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */ 
    gap: 2px; 
    position: relative;    
}
.header-authorization-link {
    text-decoration: none;
    color: #FFF;
    /* font-family: Ubuntu;  */
    /* чому до <а> не доходить властивість колір тексту білий, якщо її повісити тільки на хедер,
     як батько в третьому поколінні зверху :) ,
     або на ul, як батько в другому поколінні?*/
}
.header-authorization::before {
    content: "";
    display: block;
    width: 1px;
    height: 19px;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    position: absolute;
    left: -27px;
    top: -2px;
}
.main-form-log-in {
    width: 444px;
    height: 584px;
    /* margin: 54px auto 74px; */
    /* margin: 0 auto; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 31px 60px 38px;
    background-color: #FFF;
    box-sizing: border-box;
}
.main-form-log-in-choise, .main-form-log-in-with-social-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choise-new-customer {
    color: #434343;
    text-align: center;
    /* font-family: Ubuntu; */
    font-size: 20px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 20px; /* 100% */
    text-decoration: none;
    position: relative;
}
.choise-new-customer::after {
    content: "";  
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -60px;
}
.choise-registered-customer {
    color: #3CB878;
    /* font-family: Ubuntu; */
    font-size: 14px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 14px; /* 100% */
    text-decoration: none;
}
.main-form-log-in-with-social-networks {
    color: #FFF;
    /* font-family: Ubuntu; */
    font-size: 16px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 16px; /* 100% */   
    margin-top: 13px;
    margin-bottom: 31px;
}
.social-networks-facebook, .social-networks-google {
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 160px;
    height: 48px;
    text-decoration: none;
    color: #FFF;
    border-radius: 4px;
    position: relative;
}
.social-networks-facebook {      
    background-color: #305DB8;
    padding-left: 66px;
    position: relative;    
}
.icon-facebook {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
}
.social-networks-google {   
    background-color: #DF4A32;  
    padding-left: 78px;
}
.place-for-google {
    position: relative;
}
.bg-G::before {
    content: "";
    width: 30px; height: 19px;
    background: url('css_sprites.png') -10px -10px;
    position: absolute;
    left: 10px;
} 
/* .icon-google {
    width: 30px;
    height: 19px;
} */
.social-networks-facebook::after {
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    left: 47px;
}
.social-networks-google::after {
    content: "";
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    position: absolute;
    left: 47px;
}
.or {
    display: block;
    text-align: center;
    color: #848484;
    /* font-family: Ubuntu; */
    font-size: 14px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 14px; /* 100% */
    margin-bottom: 12px;
    position: relative;
}
.or::before, .or::after {
    content: "";
    display: inline-block;
    border-bottom: 1px solid #F2F2F2;
    width: 152px; 
    position: absolute;
    top: 9px;
}
.or::before {
    left: 0; 
}
.or::after {
    right: 0;
}
.main-form-log-in-registration {
    display: flex;
    flex-direction: column;
}
.input-to-fill {   
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}
.checkbox {
    color: #434343;
    /* font-family: Ubuntu; */
    font-size: 14px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 14px; /* 100% */
}
.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.real-checkbox:focus + .custom-checkbox {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.custom-checkbox {
    display: inline-block;
    width: 14px;
    height: 13.5px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    vertical-align: sub;
    position: relative;
}
.custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 13.5px;
    background-image: url("./img_7/Vector\ 1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid #000; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* transition: 0.1s ease-in; */
    margin-left: 1px;
}
.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}
.checkbox-green {
    color: #3CB878;
}
.main-form-log-in-registration>:not(.checkbox) {
    height: 45px;
    box-sizing: border-box;
}
.main-form-log-in-registration>:nth-child(-n + 4) {
    margin-bottom: 15px;
}
.main-form-log-in-registration .checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 20px;
    margin-top: 12px;
    margin-bottom: 20px; 
}
.submit {
    color: #FFF;
    /* font-family: Ubuntu; */
    font-size: 16px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 16px; /* 100% */
    border-radius: 4px;
    border-color: rgba(60, 184, 120, 0.01);     
    /*дуже дивним способом прибрала видимість тут бордера - прозорість 0.01, бо на макеті його немає*/
    background-color: rgba(60, 184, 120, 0.80);
    /* outline: 0; */ /*outline: none 
    я так розумію ці варіанти outline не зпрацювали, бо я вказую бордер з закругленням, по суті даю йому ширину? так?*/
    cursor: pointer;
}
.hover-green-text:hover {
    color: #01813F;
}
.hover-white-green-svg {
    fill: white;
}
.hover-white-green-svg:hover {
    fill: #01813F;    
}
.hover-green-background:hover {
    background-color: #01813F;
}
.hover-blue-background:hover {
    background-color: #022263;
}
.hover-red-background:hover {
    background-color: #AB1F09;
}
.hover-underline:hover {
    text-decoration: underline;
}
.input-to-fill:focus {
    outline: 0; 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);       
}  
